body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .nav {
    margin-top: 10px;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav a.active {
    border-bottom: 2px solid #61dafb;
  }
  

  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }